@model IEnumerable<Proyecto_Medicos.Models.CitasProgramadas>

@{
    ViewData["Title"] = "HistorialCitas";
}

<h1>HistorialCitas</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.codCita)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nomPac)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.codMed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.codEsp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.codTurno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.codCita)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nomPac)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.codMed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.codEsp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.codTurno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecha)
            </td>
            <td>
                @Html.ActionLink("Reprogramar Cita", "ActualizarCita", new {id=item.codCita}) |
                
            </td>
        </tr>
}
    </tbody>
</table>

<script>
    window.watsonAssistantChatOptions = {
        integrationID: "dd6b4f9e-9acb-4b00-8f37-4dd0af5535b2", // The ID of this integration.
        region: "us-south", // The region your integration is hosted in.
        serviceInstanceID: "b03a65a3-623f-4005-ad71-f308fb6ff9d9", // The ID of your service instance.
        onLoad: function (instance) { instance.render(); }
    };
    setTimeout(function () {
        const t = document.createElement('script');
        t.src = "https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
        document.head.appendChild(t);
    });
</script>